@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Visit the Super Duper Library online system for more information about our services. Check out wich books are available, the previous records of rentals and see which authors have written books. <a href="">Click here for more information</a>.</p>
</div>
<div>
    <img src="~/images/library.jpg" />
</div>